@import url(https://fonts.googleapis.com/css?family=Frauces);
@import url(https://fonts.googleapis.com/css?family=Bitter);

body {
    /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
     color: rgb(236, 120, 11);
     font-size: 1.2rem; /*tamaño de las letras*/
     /*line-height: 1.6em; /* interlineado */
     /*margin: 0;
     width: 100%;
     height: 100%;
     letter-spacing: 0.03em;*/
         width: 100%;
         height: 100%;
         letter-spacing: 0.02em;
         line-height: 1.6;
         font-family: 'Open Sans', sans-serif;
         margin: 0;
         background: #0e1701;
         color: #FFFFFF;
   }
   .color-span{
    color: #EEAD33;
  }
   .header {
    /*background: #ee950f;*/
    color: white;  
    /* hacer el menu fijo */
    /* position: fixed;*/
    left: 0;
    top: 0;
    /* ocuapamos todo el ancho */
    right: 0;
  }
  .header a {
    color: white;
    text-decoration: none;

  }
    .logo-nav-container {
    display: flex;
    justify-content: space-between;
    /* lo alineamos al centro */
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    width: 100%;
    list-style: none;
    z-index: 999;
    transition: all 0.5s;
  }
  
  /* logo */
  .logo {
    width: 100px;
    margin-left: 15px;
    padding: 0;
  }
  .menu-icon {
    display: none;
  }
  /* todos los "ul" que esten dentro de "navigation" */
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navigation ul li {
    /* uno al lado del otro */
    display: inline-block;
  }
  /* los enlaces dentro del menu */
  .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    border-radius: 5px;
  }
  .navigation ul li a:hover {
    background: #cc4444;
  }
  .banner{
	position: relative;
	width: 100%;
	height: calc(100vh - 50px);
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	transition: all .1s ease-out;
	background-image: url('/imagenes/banner_1.jpg');
	animation: banner 28s infinite linear;
  margin-top: 0;
}
.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: rgba(0, 22, 40, .6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner-content h1{
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	font-size: 40px;
	text-align: center;
}
.banner-content a{
	text-decoration: none;
	color: #FFF;
	padding: 9px 20px;
	border: 1px solid #FFF;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}
.banner-content a:hover{
	background-color: #fff;
	color: #333;
}
@keyframes banner{
	0%{
		background-image: url('/imagenes/banner_1.jpg');
	}
	25%{
		background-image: url('/imagenes/banner_1.jpg');
	}
	26%{
		background-image: url('/imagenes/banner_2.jpg');
	}
	50%{
		background-image: url('/imagenes/banner_2.jpg');
	}
	51%{
		background-image: url('/imagenes/banner_3.jpg');
	}
	75%{
		background-image: url('/imagenes/banner_3.jpg');
	}
	76%{
		background-image: url('/imagenes/banner_1.jpg');
	}
	100%{
		background-image: url('/imagenes/banner_1.jpg');
	}
}
/*Estilos de Main*/
.main{
  }
  .section__title {
    font-size: 2em;
    position: relative;
    text-align: center;
  }
  .section__title:before {
    content: "";
    width: 200px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: #EEAD33;
  }
  .welcome{
    text-align: center;
    padding: 20px;
    max-width: 750px;
    margin: auto;
  }
  .welcome__txt{
    font-size: 1.2em;
    color: #777;
  }
  .welcome__btn {
    display: block;
    border: 2px solid #EEAD33;
    width: 200px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    color: #EEAD33;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 30px;
    transition: all 0.5s;
  }
  .welcome__btn:hover {
    background: #EEAD33;
    color: white;
  }
  .container-design {
    margin: 20px 0;
  }
  .design__item{
    position: relative;
  }
  .design__item:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
  }
  .design__title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
  }
  .design__title:before {
    content: "";
    width: 200px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: #EEAD33;
  }
  .design__title:after {
    content: "";
    width: 200px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: #EEAD33;
  }
  
  .container-testimonials {
    margin: 60px auto;
    max-width: 750px;
  }
  .testimonials__img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    padding: 10px;
    position: inherit;
  }
  .testimonials__txt{
    text-align: center;
    padding: 20px;
  }
  .testimonials__name{
    text-align: center;
    font-size: 1.4em;
    color: #EEAD33;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 30px 0;
  }
  .box__content{
    width: 70%;
  }
  .box__icon{
    width: 100px;
    height: 100px;
    border: 2px solid #999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #EEAD33;
    background-image: url(/imagenes/miel.png)
  }
  .box__icon:hover{
    color: black;
  }
  .box__title{
    color: #EEAD33;
    margin: 0;
  }
  .box__txt {
    color: #999;
  }
  .newsletter{
    margin: 50px 0;
  }
  .form{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 600px;
  }
  .form__mail{
    display: block;
    background: #ddd;
    padding: 15px;
    width: 75%;
    border: none;
    font-size: 1em;
  }
  .form__submit{
    display: block;
    background: #EEAD33;
    border: none;
    padding: 15px;
    width: 20%;
    color: white;
    font-size: 1em;
  }
  
  .main-footer{
    background: #282828;
    color: #828282;
  }
  .main-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__title{
    font-size: 1.8em;
    color: white;
    text-transform: uppercase;
  }
  .column--50-25 {
    width: 49%;
    padding: 20px;
  }
  .footer__author{
    text-align: right;
    color: #EEAD33;
    display: block;
  }
  .footer__txt .fa-twitter{
    color: #3bbef5;
    margin-right: 5px;
  }
  .footer__link{
    color: #EEAD33;
  }
  .footer__date{
    font-size: .8em;
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
    color: white;
  }
  .social-icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .social-icon i {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 50%;
    
  }
  .social-icon .fa-facebook-f{
    background: #3b5998;
  }
  .social-icon .fa-twitter{
    background: #3bbef5;
  }
  .social-icon .fa-dribbble{
    background: #f7659b;
  }
  .social-icon .fa-pinterest{
    background: #e23139;
  }
  
  .social__link{
    display: block;
    text-decoration: none;
    color: #828282;
  }
  .contact-icon{
    display: flex;
    align-items: center;
  }
  .contact-icon .fas{
    color: white;
    display: block;
    margin-right: 10px;
  }
  .copy{
    background: #211E1E;
    padding: 20px;
    color: white;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .box{
      justify-content: center;  
    }
    .box__icon{
      margin-right: 30px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      margin: auto;
      padding: 10px;
    }
    .main-title{
      font-size: 1.5em;
    }
    .menu {
      font-size: 1em;
    }
    .banner {
      min-height: 600px;
    }
    .banner:before {
      min-height: 600px;
    }
    .banner__title, .banner__txt {
      font-size: 1.5em;
      padding: 10px;
    }
    .design__item{
      height: 400px;
    }
    .container-design .design__img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    
    .container-design, .container-tips{
      display: flex;
      flex-wrap: wrap;
    }
    .design__item{
      width: 50%;
    }
    .container-box{
      width: 50%;
    }
    .container-tips {
      height: 500px;
    }
    .container-tips .design__item{
      height: 100%;
    }
    .container-tips .design__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .column--50-25 {
      width: 24%;
    }
  }
  @media screen and (min-width: 1280px) {
    .container {
      width: 1300px;
    }
    .design__title{
      font-size: 2.5em;
    }
    .design__item{
      height: 500px;
    }
  }
  @media screen and (min-width: 1600px) {
    .container {
      width: 1400px;
    }
    .banner__title, .banner__txt {
      font-size: 2em;
    }
  }
